<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Admin - <ui:insert name="title">Inicio</ui:insert></title>
	<h:outputScript library="jquery" name="jquery.js"/>
	<h:outputStylesheet library="css" name="padrao.css" />
	<h:outputStylesheet library="css" name="padraocss2.css" />
	<h:outputStylesheet library="css" name="simple-sidebar.css" />
	<h:outputStylesheet library="css" name="simple-sidebar.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputScript library="bootstrap" name="js/bootstrap.min.js" />
	<h:outputScript library="js" name="dropdowns.js" />
</h:head>

<body>
	<ui:include src="/WEB-INF/templates/menuAdmin.xhtml" />
	<ui:debug hotkey="x"
		rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}" />

	<div id="content">
		<ui:insert name="content">
			<h2>Bem vindo!</h2>
		</ui:insert>
	</div>

</body>

</html>
