
.fundo {
	overflow-x: hidden;
	background-image: url("#{resource['/img/bg.png']}") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	height: 100%;
}

.campo{
	background-color: #CACACA;
}

.altura{
	height:100%;
}

.sug{
	position: absolute;
	top: 0px;
	z-index: 100;
	right: 0px;
	width: auto;
  	height: 159px;
}

#sugestao {
	background-image: url("#{resource['/img/sbar.png']}") ;
	background-size: 100% 100%;
	width: 27px;
  	height: 159px;
  	cursor:pointer;
}

#enviarSugestao{
	display:none;
	width:50%;
	height:50%;
	background-color: #000;
}

.tituloZona{
	color:#000;
	font-size: 21px;
}
.lupa{
	color:#fff;
}

.seguranca{
	font-size:23px;
	text-align: center;
	width: 100%;
	color: #000;
}

html{
	  height: 100%;
	    overflow: hidden;
}
body{
	  height: 100%;
}

.fundologin{
	!important;
}

@media(max-width: 545px){ 
	.teste{
		padding:0 !important;
	}


}
.botaoLogin{
	background-color: rgb(160, 2, 2);
	margin-top:5%;
}

.texto{
	  text-shadow: 2px 2px 1px #000000;
}

::-webkit-scrollbar{
     width: 14px;
}
::-webkit-scrollbar-track{
     box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}
::-webkit-scrollbar-track-piece{
  background: #BDBDBD;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
}
::-webkit-scrollbar-thumb {
    background: #848484;
    box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius:4px;  
    border:1px solid #848484;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
}: #000; 