body{
	background-image: url("#{resource['/img/elegant-grey-illumination.jpg']}");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}