
.fundo {
	overflow-x: hidden;
	background-image: url("#{resource['/img/bg.png']}") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	height: 100%;
}

.campo{
	background-color: #CACACA;
}
.iconesListados{
width: auto;
  height: 35px;
}


.altura{
	height:100%;
}

.botaoLogos button{
	margin-top: 3%;
  border-color: #c6c6c6;
  border-radius: 8px;
  background-color: #c6c6c6;
  color: rgb(114, 114, 114);
}

.sug{
	position: absolute;
	bottom: 0px;
	z-index: 100;
	right: 0px;
	width: auto;
  	height: 159px;
}
.sug2{
	bottom: 0px;
	z-index: 100;
	right: 0px;
	width: auto;
  	height: 159px;
  	position: fixed;
  	padding: 0;
}

.fundoSug{
	background-image: url("#{resource['/img/sbar.png']}") ;
	background-size: 100% 100%;
	width: 27px;
  	height: 159px;
  	float:left;
  	cursor:pointer;
}

#sugestao {
  	cursor:pointer;
}

.padding0{
	padding:0px;
}

.fundoSugestao{
	background-color: transparent;
	max-height: 65px;
	max-width: 100%;
}

#enviarSugestao{
	background-image: url("#{resource['/img/fundoSugestao.png']}") ;
	background-size: 100% 100%;
	display:none;
	width: 50%;
	height:159px;
	float:right;
	border-radius: 10px;
	position: fixed;
	background-color: #fff;
}

.tituloZona{
	color:#000;
	font-size: 21px;
}
.lupa{
	color:#fff;
}

.seguranca{
	font-size:23px;
	text-align: center;
	width: 100%;
	color: #000;
}

html{
	  height: 100%;
	    overflow: hidden;
}
body{
	  height: 100%;
}

.fundologin{
	!important;
}

@media(max-width: 545px){ 
	.teste{
		padding:0 !important;
	}


}
.botaoLogin{
	background-color: rgb(160, 2, 2);
	margin-top:5%;
	width: 100%;
  	color: white;
}

.texto{
	  text-shadow: 2px 2px 1px #000000;
}

::-webkit-scrollbar{
     width: 14px;
}
::-webkit-scrollbar-track{
     box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}
::-webkit-scrollbar-track-piece{
  background: #BDBDBD;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
}
::-webkit-scrollbar-thumb {
    background: #848484;
    box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius:4px;  
    border:1px solid #848484;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
}: #000; 